.parent{
    width: 1200px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.about-parent{
    width: 1200px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 300px;
}
.banner-title{
    font-size: 50px;
}
.banner-title2{
    color: #F5954E;
}
button{
    background-color: #FB632B;
    width: 140px;
    padding: 15px 0;
    border: none;
    border-radius: 30px;
    color: #FFFFFF;

}
.about-children1 img{
width: 100%;
height: 500px;
}
.about-children2 h1{
    font-size: 50px;
}
.about-children2 p{
font-size: 15px;
}
.my-recipies{
    text-align: center;
}
.recipies-parent{
   display: flex;
   gap: 20px;
}
.recipies-parent img{
    width: 100%;
    height: 200px;
    border-radius: 10px;


}
.footer{
    background-color: black;
    text-align: center;
}
.footer-h1{
    color: #F5954E;
}
.footer-h2{
    color: #616161;
}